<ul placeholder-content="toolbar" ng-if="infrastructureRegister.id">
</ul>
<div class="col-md-12">
    <div class="col-md-6">
        <div class="widget">
            <h2 class="people">People Management</h2>
            <ul>
                <li>
                    <a href="#/administration/jobDescriptionList">Job Descriptions</a>
                </li>

                <li>
                    <a href="#/administration/peopleList">People</a>
                </li>
                <li>
                    <a href="#/administration/misaSupportAgentList">Misa Support Agents </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="col-md-6">
        <div class="widget">
            <h2 class="miscellaneous">Miscellaneous</h2>
            <ul>
                <li>
                    <a href="#/administration/assetClassList">Asset Classes</a>
                </li>
                <li>
                    <a href="#/administration/crossCuttingProgrammeList">Cross Cutting Programmes</a>
                </li>
                <li>
                    <a href="#/administration/developmentalLocationList">Developmental Locations</a>
                </li>
                <li>
                    <a href="#/administration/fundingSourceGroupList">Funding Source Group</a>
                </li>
                <li>
                    <a href="#/administration/fundingSourceList">Funding Sources</a>
                </li>
                <li>
                    <a href="#/administration/migComponentList">Mig Components</a>
                </li>
                <li>
                    <a href="#/administration/sectorProgrammeList">Sector Programmes</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="col-md-6">
            <div class="widget">
                <h2 class="indicators">Indicators</h2>
                <ul>
                    <li>
                        <a href="#/administration/indicators">Indicators</a>
                    </li>
                    <li>
                        <a href="#/administration/indicatorItemList">Indicator Items</a>
                    </li>
                    <li>
                        <a href="#/administration/indicatorStandardList">Indicator Standards</a>
                    </li>
                    <li>
                        <a href="#/administration/indicatorStrategyList">Indicator Strategies</a>
                    </li>
                    <li>
                        <a href="#/administration/indicatorTypeList">Indicator Types</a>
                    </li>
                    <li>
                        <a href="#/administration/indicatorUnitOfMeasureList">Units of Measure</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget">
                <div>
                    <h2 class="delete">Delete</h2>
                </div>
                <ul>
                    <li>
                        <a href="#/administration/deleteProject">Delete Project</a>
                    </li>
                    <li>
                        <a href="#/administration/deleteInfrastructureRegister">Delete Asset</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget">
                <h2 class="miscellaneous">Back To Basics</h2>
                <ul>
                    <li>
                        <a href="#/administration/actionsTakenAgainstFraudList">Actions Taken Against Fraud</a>
                    </li>
                    <li>
                        <a href="#/administration/causeOfProtestList">Cause of Protest</a>
                    </li>
                    <li>
                        <a href="#/administration/causeOfStoppageList">Cause of Stoppage</a>
                    </li>
                    <li>
                        <a href="#/administration/typeOfStoppageList">Type of Stoppage</a>
                    </li>
                    <li>
                        <a href="#/administration/frequencyOfCollectionList">Frequency of Collection</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="widget">
                <div>
                    <h2 class="delete">Incident Reporting</h2>
                </div>
                <ul>
                    <li>
                        <a href="#/administration/faultPriorityList">Incident Priorities</a>
                    </li>
                    <li>
                        <a href="#/administration/faultTypeList">Incident Types</a>
                    </li>
                    <li>
                        <a href="#/administration/faultOrganisationSectorPersonList">Incident Escalation Protocol</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="widget">
            <div>
                <h2 class="delete">MOP</h2>
            </div>
            <ul>
                <li>
                    <a href="#/administration/mOPResponsiblePeopleList">MOP Responsible People</a>
                </li>
                <li>
                    <a href="#/administration/mOPKPIList">MOP KPI</a>
                </li>
                <li>
                    <a href="#/administration/mOPProjectStageList">MOP Project Stage</a>
                </li>
                <li>
                    <a href="#/administration/mOPProjectTypeList">MOP Project Type</a>
                </li>
                <li>
                    <a href="#/administration/mOPSectorList">MOP Sector</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget">
            <div>
                <h2 class="delete">MOP II</h2>
            </div>
            <ul>
                <li>
                    <a href="#/administration/mOPIIKPIList">MOP KPI</a>
                </li>
                <li>
                    <a href="#/administration/mOPIISectionList">MOP Section</a>
                </li>
                <li>
                    <a href="#/administration/mOPIIProcessList">MOP Process</a>
                </li>

            </ul>
        </div>
    </div>
</div>
