<div class="modal-dialog" style="height: 75%">
    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}" ng-init="setqueue(queue)" style="height: 100%">
        <div class="modal-content" style="height: 100%; overflow: hidden;">
            <div class="modal-header">
                <input type="hidden" name="documentType" value="{{documentType}}">
                <input type="hidden" name="foreignId" value="{{foreignId}}">
                <input type="hidden" name="foreignType" value="{{foreignType}}">
                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                <ul style="float: right; list-style: none; padding-right: 8px">
                    <li>
                        <a href="" class="glyphicon glyphicon-plus" ng-click="adddocument($event)" title="Upload Document"></a>
                    </li>
                </ul>
                <h3 style="margin-top: 0; padding-left: 8px">{{documentTypeName}} Documents</h3>
            </div>
            <div class="modal-body" style="overflow-y: auto; height: 100%; box-sizing: border-box; padding-bottom: 100px;">
                <table class="table" style="border-top: 1px solid #ccc">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Uploaded&nbsp;By</th>
                            <th>Upload&nbsp;Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr ng-repeat="document in documents">
                        <td><a href="api/document/{{document.id}}">{{document.name}}</a>
                        </td>
                        <td style="text-align: right">{{document.fileSize|formatFileSize}}</td>
                        <td style="text-align: center">{{document.uploadUser}}</td>
                        <td>{{document.uploadDate|date:'dd MMM yyyy'}}</td>
                        <td><a href="" ng-click="deletedocument(document)"><i class="glyphicon glyphicon-trash" title="Delete Document"></i></a></td>
                    </tr>
                    <tr ng-repeat="file in queue" ng-init="file.$submit();increment()">
                        <td><a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>

                        </td>
                        <td style="text-align: right">{{file.size | formatFileSize}}</td>
                        <td style="text-align: center">By Me</td>
                        <td>
                            <div ng-hide="file.success" class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()">
                                <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                            </div>
                            <div ng-show="file.success">
                                {{now|date: 'dd MMM yyyy'}}
                            </div>
                        </td>
                    </tr>
                </table>
                <noscript>
                    <input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/">
                </noscript>
                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                <div ng-hide="true" class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input id="add-file" type="file" name="files[]" multiple ng-disabled="disabled">
                        </span>
                        <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start upload</span>
                        </button>
                        <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel upload</span>
                        </button>
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" data-file-upload-progress="progress()">
                            <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <!-- The table listing the files available for upload/download -->
                <table ng-hide="true" class="table table-striped files ng-cloak">
                    <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                        <td data-ng-switch data-on="!!file.thumbnailUrl">
                            <div class="preview" data-ng-switch-when="true">
                                <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>
                                    <img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                            </div>
                            <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                        </td>
                        <td>
                            <p class="name" data-ng-switch data-on="!!file.url">
                                <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                    <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                    <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                </span>
                                <span data-ng-switch-default>{{file.name}}</span>
                            </p>
                            <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                        </td>
                        <td>
                            <p class="size">{{file.size | formatFileSize}}</p>
                            <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()">
                                <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start</span>
                            </button>
                            <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel</span>
                            </button>
                            <button type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer" style="position: absolute; left:0;bottom:0;right:0; height: 55px; background-color: #d2d2d2;">
                <button class="btn btn-default" style="margin-top: -10px" ng-click="close.value.close()" type="button">Close</button>
            </div>
        </div>
    </form>
</div>
