<ul placeholder-content="toolbar">
    <li>
        <a class="glyphicon glyphicon-plus" href="#/administration/jobDescription/Create"></a>
    </li>
</ul>
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                </tr>
            </thead>
            <tr ng-repeat="jobDescription in jobDescriptions">
            <td>
                <a href="#/administration/jobDescription/{{jobDescription.id}}">{{jobDescription.description}}</a>
            </td>
        </tr>
    </table>
</div>
