<ul placeholder-content="toolbar">
    <li>
        <a class="glyphicon glyphicon-plus" href="#/administration/mOPProjectType/Create"></a>
    </li>
</ul>
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                </tr>
            </thead>
            <tr ng-repeat="mOPProjectType in mOPProjectTypes">
            <td>
                <a href="#/administration/mOPProjectType/{{mOPProjectType.id}}">{{mOPProjectType.description}}</a>
            </td>
        </tr>
    </table>
</div>
