<div class="overview">
    <div class="col-md-8 field-list-9">
        <div>
            <div class="bold">{{operationalActual.organisationName}}</div>
            <div class="bold">{{operationalActual.financialYear}}</div>
        </div>
        <h4>Annual Technical Support Plans</h4>
        <h5>KPI 2.2.1: Number of municipalities with which annual technical support plans are signed and reported against quarterly</h5>
        <h3>1. Develop municipal Technical Support Plan (TSP)</h3>
        <div bold>
            <div style="text-align: center">Process Description</div>
            <div style="text-align: center">Q1 T</div>
            <div style="text-align: center">Q1 A</div>
            <div style="text-align: center">Q2 T</div>
            <div style="text-align: center">Q2 A</div>
            <div style="text-align: center">Q3 T</div>
            <div style="text-align: center">Q3 A</div>
            <div style="text-align: center">Q4 T</div>
            <div style="text-align: center">Q4 A</div>

        </div>
        <div>
            <div>1.1 Brief municipality about MISA technical support programme</div>
            <div style="text-align: center">{{operationalPlan.atsP_11BriefMunicipality_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_11BriefMunicipality_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_11BriefMunicipality_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_11BriefMunicipality_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_11BriefMunicipality_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_11BriefMunicipality_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_11BriefMunicipality_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_11BriefMunicipality_AQ4}}</div>

        </div>
        <div>
            <div>1.2 Determine projects that municipality requests for support</div>
            <div style="text-align: center">{{operationalPlan.atsP_12DetermineProjects_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_12DetermineProjects_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_12DetermineProjects_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_12DetermineProjects_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_12DetermineProjects_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_12DetermineProjects_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_12DetermineProjects_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_12DetermineProjects_AQ4}}</div>
        </div>
        <div>
            <div>1.3 Develop TSP and get signed off by municipality and TS Programme</div>
            <div style="text-align: center">{{operationalPlan.atsP_13DevelopTSP_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_13DevelopTSP_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_13DevelopTSP_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_13DevelopTSP_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_13DevelopTSP_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_13DevelopTSP_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_13DevelopTSP_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_13DevelopTSP_AQ4}}</div>

        </div>
        <h3>2. Securing Funds for Sector Projects</h3>
        <div>
            <div>2.1 Assist municipality in developing Technical Report and Business Plan</div>
            <div style="text-align: center">{{operationalPlan.atsP_21AssistDevelopTR_BP_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_21AssistDevelopTR_BP_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_21AssistDevelopTR_BP_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_21AssistDevelopTR_BP_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_21AssistDevelopTR_BP_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_21AssistDevelopTR_BP_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_21AssistDevelopTR_BP_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_21AssistDevelopTR_BP_AQ4}}</div>

        </div>
        <div>
            <div>2.2 Assist municipality in presenting the TR and BP to funding agency (MIG, DWS, etc.)</div>
            <div style="text-align: center">{{operationalPlan.atsP_22AssistPresentTR_BP_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_22AssistPresentTR_BP_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_22AssistPresentTR_BP_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_22AssistPresentTR_BP_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_22AssistPresentTR_BP_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_22AssistPresentTR_BP_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_22AssistPresentTR_BP_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_22AssistPresentTR_BP_AQ4}}</div>
        </div>
        <div>
            <div>2.3 Funding Agency's approval of BP and Funds</div>
            <div style="text-align: center">{{operationalPlan.atsP_23FundingApprovalBP_Funds_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_23FundingApprovalBP_Funds_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_23FundingApprovalBP_Funds_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_23FundingApprovalBP_Funds_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_23FundingApprovalBP_Funds_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_23FundingApprovalBP_Funds_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_23FundingApprovalBP_Funds_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_23FundingApprovalBP_Funds_AQ4}}</div>

        </div>
        <h3>3. Planning for Implementation</h3>
        <div>
            <div>3.1 Establish Project Steering Committee</div>
            <div style="text-align: center">{{operationalPlan.atsP_31EstablishProjectSteeringCommittee_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_31EstablishProjectSteeringCommittee_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_31EstablishProjectSteeringCommittee_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_31EstablishProjectSteeringCommittee_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_31EstablishProjectSteeringCommittee_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_31EstablishProjectSteeringCommittee_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_31EstablishProjectSteeringCommittee_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_31EstablishProjectSteeringCommittee_AQ4}}</div>

        </div>
        <div>
            <div>3.2 Infrastructure Procurement Planning</div>
            <div style="text-align: center">{{operationalPlan.atsP_32InfrastructureProcurementPlanning_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_32InfrastructureProcurementPlanning_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_32InfrastructureProcurementPlanning_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_32InfrastructureProcurementPlanning_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_32InfrastructureProcurementPlanning_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_32InfrastructureProcurementPlanning_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_32InfrastructureProcurementPlanning_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_32InfrastructureProcurementPlanning_AQ4}}</div>

        </div>
        <div>
            <div>3.3 Appointment of Consultants/ PSP</div>
            <div style="text-align: center">{{operationalPlan.atsP_33AppointmentConsultantsPSP_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_33AppointmentConsultantsPSP_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_33AppointmentConsultantsPSP_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_33AppointmentConsultantsPSP_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_33AppointmentConsultantsPSP_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_33AppointmentConsultantsPSP_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_33AppointmentConsultantsPSP_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_33AppointmentConsultantsPSP_AQ4}}</div>

        </div>
        <div>
            <div>3.4 Preliminary design</div>
            <div style="text-align: center">{{operationalPlan.atsP_34PreliminaryDesign_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_34PreliminaryDesign_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_34PreliminaryDesign_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_34PreliminaryDesign_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_34PreliminaryDesign_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_34PreliminaryDesign_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_34PreliminaryDesign_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_34PreliminaryDesign_AQ4}}</div>

        </div>
        <div>
            <div>3.5 Final Design</div>
            <div style="text-align: center">{{operationalPlan.atsP_35FinalDesign_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_35FinalDesign_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_35FinalDesign_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_35FinalDesign_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_35FinalDesign_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_35FinalDesign_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_35FinalDesign_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_35FinalDesign_AQ4}}</div>

        </div>
        <div>
            <div>3.6 Contract Documentation</div>
            <div style="text-align: center">{{operationalPlan.atsP_36ContractDocumentation_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_36ContractDocumentation_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_36ContractDocumentation_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_36ContractDocumentation_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_36ContractDocumentation_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_36ContractDocumentation_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_36ContractDocumentation_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_36ContractDocumentation_AQ4}}</div>

        </div>
        <div>
            <div>3.7 Appoint Contractor</div>
            <div style="text-align: center">{{operationalPlan.atsP_37AppointContractor_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_37AppointContractor_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_37AppointContractor_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_37AppointContractor_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_37AppointContractor_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_37AppointContractor_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_37AppointContractor_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_37AppointContractor_AQ4}}</div>

        </div>
        <h3>4. Implementation</h3>
        <div>
            <div>4.1 Appointment CLO</div>
            <div style="text-align: center">{{operationalPlan.atsP_41AppointmentCLO_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_41AppointmentCLO_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_41AppointmentCLO_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_41AppointmentCLO_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_41AppointmentCLO_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_41AppointmentCLO_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_41AppointmentCLO_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_41AppointmentCLO_AQ4}}</div>

        </div>
        <div>
            <div>4.2 Site meetings (Progress & Quality)</div>
            <div style="text-align: center">{{operationalPlan.atsP_42SiteMeetings_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_42SiteMeetings_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_42SiteMeetings_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_42SiteMeetings_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_42SiteMeetings_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_42SiteMeetings_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_42SiteMeetings_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_42SiteMeetings_AQ4}}</div>

        </div>

        <h3>5. Monitoring and reporting to Stakeholders</h3>
        <div>
            <div>5.1 Progress and Evaluation reports (quantitative and qualitative)</div>
            <div style="text-align: center">{{operationalPlan.atsP_51Progress_EvaluationReports_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_51Progress_EvaluationReports_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_51Progress_EvaluationReports_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_51Progress_EvaluationReports_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_51Progress_EvaluationReports_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_51Progress_EvaluationReports_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_51Progress_EvaluationReports_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_51Progress_EvaluationReports_AQ4}}</div>

        </div>

        <h3>6. Commissioning and Close-out</h3>
        <div>
            <div>6.1 Project Commissioning</div>
            <div style="text-align: center">{{operationalPlan.atsP_61ProjectCommissioning_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_61ProjectCommissioning_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_61ProjectCommissioning_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_61ProjectCommissioning_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_61ProjectCommissioning_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_61ProjectCommissioning_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_61ProjectCommissioning_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_61ProjectCommissioning_AQ4}}</div>

        </div>

        <div>
            <div>6.2 MISA Intervention Close-out</div>
            <div style="text-align: center">{{operationalPlan.atsP_62MISAInterventionClose_out_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_62MISAInterventionClose_out_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_62MISAInterventionClose_out_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_62MISAInterventionClose_out_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_62MISAInterventionClose_out_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_62MISAInterventionClose_out_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.atsP_62MISAInterventionClose_out_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.atsP_62MISAInterventionClose_out_AQ4}}</div>

        </div>
        <h4>Sector Plans</h4>
        <h5>KPI 2.2.2: Number of municipal sector plans developed or reviewed</h5>
        <div bold>
            <div style="text-align: center">Process Description</div>
            <div style="text-align: center">Q1 T</div>
            <div style="text-align: center">Q1 A</div>
            <div style="text-align: center">Q2 T</div>
            <div style="text-align: center">Q2 A</div>
            <div style="text-align: center">Q3 T</div>
            <div style="text-align: center">Q3 A</div>
            <div style="text-align: center">Q4 T</div>
            <div style="text-align: center">Q4 A</div>

        </div>
        <h5>DEVELOPED SECTOR PLANS</h5>
        <div>
            <div>1. Develop Terms of Reference for developing sector plan</div>
            <div style="text-align: center">{{operationalPlan.dsP_1DevelopToR_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_1DevelopToR_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_1DevelopToR_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_1DevelopToR_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_1DevelopToR_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_1DevelopToR_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_1DevelopToR_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_1DevelopToR_AQ4}}</div>

        </div>
        <div>
            <div>2. Appoint Service Provider</div>
            <div style="text-align: center">{{operationalPlan.dsP_2AppointServiceProvider_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_2AppointServiceProvider_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_2AppointServiceProvider_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_2AppointServiceProvider_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_2AppointServiceProvider_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_2AppointServiceProvider_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_2AppointServiceProvider_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_2AppointServiceProvider_AQ4}}</div>

        </div>
        <div>
            <div>3. Develop draft  sector plan</div>
            <div style="text-align: center">{{operationalPlan.dsP_3DevelopDraftSectorPlan_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_3DevelopDraftSectorPlan_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_3DevelopDraftSectorPlan_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_3DevelopDraftSectorPlan_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_3DevelopDraftSectorPlan_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_3DevelopDraftSectorPlan_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_3DevelopDraftSectorPlan_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_3DevelopDraftSectorPlan_AQ4}}</div>

        </div>
        <div>
            <div>4. Finalising developed draft sector Plan</div>
            <div style="text-align: center">{{operationalPlan.dsP_4FinaliseDevelopedDraftSectorPlan_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_4FinaliseDevelopedDraftSectorPlan_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_4FinaliseDevelopedDraftSectorPlan_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_4FinaliseDevelopedDraftSectorPlan_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_4FinaliseDevelopedDraftSectorPlan_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_4FinaliseDevelopedDraftSectorPlan_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.dsP_4FinaliseDevelopedDraftSectorPlan_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.dsP_4FinaliseDevelopedDraftSectorPlan_AQ4}}</div>

        </div>
        <h5>REVIEWED SECTOR PLANS</h5>
        <div>
            <div>1. Develop Terms of Reference for reviewing existing sector plan</div>
            <div style="text-align: center">{{operationalPlan.rsP_1DevelopToR_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_1DevelopToR_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.rsP_1DevelopToR_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_1DevelopToR_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.rsP_1DevelopToR_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_1DevelopToR_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.rsP_1DevelopToR_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_1DevelopToR_AQ4}}</div>

        </div>
        <div>
            <div>2. Draft reviewed existing sector plan</div>
            <div style="text-align: center">{{operationalPlan.rsP_2DraftReviewedExistingSP_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_2DraftReviewedExistingSP_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.rsP_2DraftReviewedExistingSP_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_2DraftReviewedExistingSP_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.rsP_2DraftReviewedExistingSP_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_2DraftReviewedExistingSP_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.rsP_2DraftReviewedExistingSP_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_2DraftReviewedExistingSP_AQ4}}</div>

        </div>
        <div>
            <div>3. Finalising reviewed draft sector Plan</div>
            <div style="text-align: center">{{operationalPlan.rsP_3FinaliseRreviewedDraftSP_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_3FinaliseRreviewedDraftSP_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.rsP_3FinaliseRreviewedDraftSP_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_3FinaliseRreviewedDraftSP_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.rsP_3FinaliseRreviewedDraftSP_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_3FinaliseRreviewedDraftSP_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.rsP_3FinaliseRreviewedDraftSP_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.rsP_3FinaliseRreviewedDraftSP_AQ4}}</div>

        </div>
        <h4>Spatial Development Frameworks</h4>
        <h5>KPI 2.2.3: Number of municipalities for which spatial development frameworks are developed or reviewed</h5>
        <div bold>
            <div style="text-align: center">Process Description</div>
            <div style="text-align: center">Q1 T</div>
            <div style="text-align: center">Q1 A</div>
            <div style="text-align: center">Q2 T</div>
            <div style="text-align: center">Q2 A</div>
            <div style="text-align: center">Q3 T</div>
            <div style="text-align: center">Q3 A</div>
            <div style="text-align: center">Q4 T</div>
            <div style="text-align: center">Q4 A</div>

        </div>
        <h5>DEVELOPED SDF/ LUMS</h5>
        <div>
            <div>1. Develop Terms of Reference for SDF or LUMS development</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_1DevelopToR_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_1DevelopToR_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_1DevelopToR_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_1DevelopToR_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_1DevelopToR_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_1DevelopToR_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_1DevelopToR_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_1DevelopToR_AQ4}}</div>

        </div>
        <div>
            <div>2. Appoint Service Provider</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_2AppointServiceProvider_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_2AppointServiceProvider_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_2AppointServiceProvider_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_2AppointServiceProvider_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_2AppointServiceProvider_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_2AppointServiceProvider_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_2AppointServiceProvider_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_2AppointServiceProvider_AQ4}}</div>

        </div>
        <div>
            <div>3. Develop draft  SDF/ LUMS</div>
            <div style="text-align: center">{{operationalPlan.3DevelopDraftSDFoLUMSTargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.3DevelopDraftSDFoLUMSAQ1}}</div>
            <div style="text-align: center">{{operationalPlan.3DevelopDraftSDFoLUMSTargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.3DevelopDraftSDFoLUMSAQ2}}</div>
            <div style="text-align: center">{{operationalPlan.3DevelopDraftSDFoLUMSTargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.3DevelopDraftSDFoLUMSAQ3}}</div>
            <div style="text-align: center">{{operationalPlan.3DevelopDraftSDFoLUMSTargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.3DevelopDraftSDFoLUMSAQ4}}</div>

        </div>
        <div>
            <div>4. Finalising developed draft SDF or LUMS</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_4FinaliseDevelopedDraftSDForLUMS_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_4FinaliseDevelopedDraftSDForLUMS_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_4FinaliseDevelopedDraftSDForLUMS_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_4FinaliseDevelopedDraftSDForLUMS_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_4FinaliseDevelopedDraftSDForLUMS_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_4FinaliseDevelopedDraftSDForLUMS_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.dsdFoLUMS_4FinaliseDevelopedDraftSDForLUMS_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.dsdFoLUMS_4FinaliseDevelopedDraftSDForLUMS_AQ4}}</div>

        </div>
        <h5>REVIEWED SDF/ LUMS</h5>
        <div>
            <div>1 Develop Terms of Reference for reviewing existing SDF or LUMS</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_1DevelopToR_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_1DevelopToR_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_1DevelopToR_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_1DevelopToR_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_1DevelopToR_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_1DevelopToR_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_1DevelopToR_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_1DevelopToR_AQ4}}</div>

        </div>
        <div>
            <div>2. Draft reviewed existing SDF or LUMS</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_2DraftReviewedExistingSDForLUMS_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_2DraftReviewedExistingSDForLUMS_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_2DraftReviewedExistingSDForLUMS_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_2DraftReviewedExistingSDForLUMS_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_2DraftReviewedExistingSDForLUMS_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_2DraftReviewedExistingSDForLUMS_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_2DraftReviewedExistingSDForLUMS_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_2DraftReviewedExistingSDForLUMS_AQ4}}</div>

        </div>
        <div>
            <div>3. Finalising reviewed draft SDF or LUMS</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_3FinaliseReviewedDraftSDForLUMS_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_3FinaliseReviewedDraftSDForLUMS_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_3FinaliseReviewedDraftSDForLUMS_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_3FinaliseReviewedDraftSDForLUMS_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_3FinaliseReviewedDraftSDForLUMS_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_3FinaliseReviewedDraftSDForLUMS_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.rsdFoLUMS_3FinaliseReviewedDraftSDForLUMS_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.rsdFoLUMS_3FinaliseReviewedDraftSDForLUMS_AQ4}}</div>

        </div>
        <h4>Operation and Maintenance Plans</h4>
        <h5>KPI 2.2.4: Number of municipalities for which infrastructure operation and maintenance plans are developed or reviewed</h5>
        <div bold>
            <div style="text-align: center">Process Description</div>
            <div style="text-align: center">Q1 T</div>
            <div style="text-align: center">Q1 A</div>
            <div style="text-align: center">Q2 T</div>
            <div style="text-align: center">Q2 A</div>
            <div style="text-align: center">Q3 T</div>
            <div style="text-align: center">Q3 A</div>
            <div style="text-align: center">Q4 T</div>
            <div style="text-align: center">Q4 A</div>

        </div>
        <h5>DEVELOPED O&M Plans</h5>
        <div>
            <div>1. Develop Terms of Reference for O&M Plan development</div>
            <div style="text-align: center">{{operationalPlan.domP_1DevelopToR_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.domP_1DevelopToR_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.domP_1DevelopToR_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.domP_1DevelopToR_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.domP_1DevelopToR_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.domP_1DevelopToR_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.domP_1DevelopToR_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.domP_1DevelopToR_AQ4}}</div>

        </div>
        <div>
            <div>2. Appoint Service Provider</div>
            <div style="text-align: center">{{operationalPlan.domP_2AppointServiceProvider_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.domP_2AppointServiceProvider_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.domP_2AppointServiceProvider_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.domP_2AppointServiceProvider_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.domP_2AppointServiceProvider_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.domP_2AppointServiceProvider_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.domP_2AppointServiceProvider_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.domP_2AppointServiceProvider_AQ4}}</div>

        </div>
        <div>
            <div>3. Develop draft  O&M Plan</div>
            <div style="text-align: center">{{operationalPlan.domP_3DevelopDraftOMP_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.domP_3DevelopDraftOMP_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.domP_3DevelopDraftOMP_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.domP_3DevelopDraftOMP_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.domP_3DevelopDraftOMP_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.domP_3DevelopDraftOMP_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.domP_3DevelopDraftOMP_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.domP_3DevelopDraftOMP_AQ4}}</div>

        </div>
        <div>
            <div>4. Finalising developed draft O&M Plan</div>
            <div style="text-align: center">{{operationalPlan.domP_4FinaliseDevelopedDraftOMP_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.domP_4FinaliseDevelopedDraftOMP_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.domP_4FinaliseDevelopedDraftOMP_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.domP_4FinaliseDevelopedDraftOMP_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.domP_4FinaliseDevelopedDraftOMP_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.domP_4FinaliseDevelopedDraftOMP_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.domP_4FinaliseDevelopedDraftOMP_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.domP_4FinaliseDevelopedDraftOMP_AQ4}}</div>

        </div>
        <h5>REVIEWED O&M Plans</h5>
        <div>
            <div>1. Develop Terms of Reference for reviewing existing O&M Plan</div>
            <div style="text-align: center">{{operationalPlan.romP_1DevelopToR_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.romP_1DevelopToR_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.romP_1DevelopToR_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.romP_1DevelopToR_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.romP_1DevelopToR_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.romP_1DevelopToR_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.romP_1DevelopToR_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.romP_1DevelopToR_AQ4}}</div>

        </div>
        <div>
            <div>2. Draft reviewed existing O&M Plan</div>
            <div style="text-align: center">{{operationalPlan.romP_2DraftReviewedExistingOMP_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.romP_2DraftReviewedExistingOMP_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.romP_2DraftReviewedExistingOMP_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.romP_2DraftReviewedExistingOMP_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.romP_2DraftReviewedExistingOMP_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.romP_2DraftReviewedExistingOMP_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.romP_2DraftReviewedExistingOMP_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.romP_2DraftReviewedExistingOMP_AQ4}}</div>

        </div>
        <div>
            <div>3. Finalising reviewed draft O&M Plan/ PSP</div>
            <div style="text-align: center">{{operationalPlan.romP_3FinaliseReviewedDraftOMP_TargetQ1}}</div>
            <div style="text-align: center">{{operationalActuals.romP_3FinaliseReviewedDraftOMP_AQ1}}</div>
            <div style="text-align: center">{{operationalPlan.romP_3FinaliseReviewedDraftOMP_TargetQ2}}</div>
            <div style="text-align: center">{{operationalActuals.romP_3FinaliseReviewedDraftOMP_AQ2}}</div>
            <div style="text-align: center">{{operationalPlan.romP_3FinaliseReviewedDraftOMP_TargetQ3}}</div>
            <div style="text-align: center">{{operationalActuals.romP_3FinaliseReviewedDraftOMP_AQ3}}</div>
            <div style="text-align: center">{{operationalPlan.romP_3FinaliseReviewedDraftOMP_TargetQ4}}</div>
            <div style="text-align: center">{{operationalActuals.romP_3FinaliseReviewedDraftOMP_AQ4}}</div>

        </div>


    </div>


    <div class="col-md-4">
        <ul class="auditevidence" mipmis-accordion>
            <li class="auditevidence" accordion-section="Audit Evidence Q1">
                <ol>
                    <li ng-repeat="(category,items) in operationPlanDocumentsQ1">

                        <h5>{{category}}</h5>
                        <ol>
                            <li ng-repeat="operationPlanDocumentQ1 in items">
                                <div><a href="api/document/{{operationPlanDocumentQ1.id}}">{{operationPlanDocumentQ1.name}}</a></div>
                                <div style="text-align: center">{{operationPlanDocumentQ1.uploadDate|date: 'yyyy/MM/dd'}}</div>
                                <div class="col-lg-3 checkbox mipmis-checkbox">
                                    <input ng-model="project.misaSupportedProject" type="checkbox" value="true" id="inputMisaSupportedProject" placeholder="">
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="auditevidence" accordion-section="Audit Evidence Q2">
                <ol class="risks">
                    <li ng-repeat="(category,items) in operationPlanDocumentsQ2">

                        <h5>{{category}}</h5>
                        <ol>
                            <li ng-repeat="operationPlanDocumentQ2 in items">
                                <div><a href="api/document/{{operationPlanDocumentQ2.id}}">{{operationPlanDocumentQ2.name}}</a></div>
                                <div style="text-align: center">{{operationPlanDocumentQ2.uploadDate|date: 'yyyy/MM/dd'}}</div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="auditevidence" accordion-section="Audit Evidence Q3">
                <ol class="risks">
                    <li ng-repeat="(category,items) in operationPlanDocumentsQ3">

                        <h5>{{category}}</h5>
                        <ol>
                            <li ng-repeat="operationPlanDocumentQ3 in items">
                                <div><a href="api/document/{{operationPlanDocumentQ3.id}}">{{operationPlanDocumentQ3.name}}</a></div>
                                <div style="text-align: center">{{operationPlanDocumentQ3.uploadDate|date: 'yyyy/MM/dd'}}</div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="auditevidence" accordion-section="Audit Evidence Q4">
                <ol class="risks">
                    <li ng-repeat="(category,items) in operationPlanDocumentsQ4">

                        <h5>{{category}}</h5>
                        <ol>
                            <li ng-repeat="operationPlanDocumentQ4 in items">
                                <div><a href="api/document/{{operationPlanDocumentQ4.id}}">{{operationPlanDocumentQ4.name}}</a></div>
                                <div style="text-align: center">{{operationPlanDocumentQ4.uploadDate|date: 'yyyy/MM/dd'}}</div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="operationalprojects" accordion-section="Projects">
                <ol class="risks">
                    <li ng-repeat="operationalProject in operationalProjects.items">
                        <div><a href="#/operationalPlan/{{operationalPlan.id}}/projects/{{operationalProject.id}}">{{operationalProject.projectName}}</a></div>
                    </li>
                </ol>
            </li>
        </ul>
    </div>

</div>
