<ul placeholder-content="toolbar">
    <li class="dropdown">
        <a class="dropdown-toggle" href="#">Operations and Maintenance – All Sectors<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li style="display: block"><a style="color: #333; margin: 3px 10px;" href="/#/operationalPlan/{{operationalPlan.id}}/1">Water and Sanitation Sector</a></li>
            <li style="display: block"><a style="color: #333; margin: 3px 10px;" href="/#/operationalPlan/{{operationalPlan.id}}/2">Energy Sector</a></li>
            <li style="display: block"><a style="color: #333; margin: 3px 10px;" href="/#/operationalPlan/{{operationalPlan.id}}/3">Roads and Storm Water Sector</a></li>
            <li style="display: block"><a style="color: #333; margin: 3px 10px;" href="/#/operationalPlan/{{operationalPlan.id}}/4">Solid Waste Management Sector</a></li>
            <li style="display: block"><a style="color: #333; margin: 3px 10px;" href="/#/operationalPlan/{{operationalPlan.id}}/5">Strategic Plans</a></li>
            <li style="display: block"><a style="color: #333; margin: 3px 10px;" href="/#/operationalPlan/{{operationalPlan.id}}/5">Sector Plans</a></li>
            <li style="display: block"><a style="color: #333; margin: 3px 10px;" href="/#/operationalPlan/{{operationalPlan.id}}/5">Operations and Maintenance – All Sectors</a></li>
        </ul>
    </li>
</ul>
<div class="col-md-12">
    <form class="form-horizontal" novalidate role="form" name="operationalPlanForm">
        <div class="row section bold">
            <label for="inputNumber" class="col-lg-4 control-label"></label>
            <label for="inputNumber" class="col-lg-4 control-label">Operations and Maintenance – All Sectors</label>
        </div>
        <div class="row section" style="margin-bottom: 0">
            <span class="col-lg-2">KPI 2.1.3:</span>
            <p class="col-lg-10">Number of municipalities supported to develop, review and implement Operation and Maintenance Plans, including spending of minimum 7% of the OPEX budget</p>
        </div>
        <div class="row" style="margin-bottom: 0">
            <span class="col-lg-2">Definition</span>
            <p class="col-lg-10">Providing support to develop O&M Plans and to ensure the minimum spending of 7% of the OPEX Budget</p>
        </div>
        <div class="row" style="margin-bottom: 0">
            <span class="col-lg-2">Expected Impact:</span>
            <p class="col-lg-10">Improvement and sustainability of municipal infrastructure services delivery</p>
        </div>
        <div class="form-group">

            <label for="organisation" class="col-lg-2">Organisation</label>
            <div class="col-lg-4">
                <select ng-options="organisation.id as organisation.name for organisation in organisations" required ng-disabled="new_ops_plan" ng-model="operationalPlan.organisationId" class="form-control" id="selectOrganisation"></select>
            </div>
            <label for="inputYear" class="col-lg-2 control-label">Financial Year</label>
            <div class="col-lg-3">
                <select ng-options="financialYear.id as financialYear.description for financialYear in financialYears" required ng-disabled="new_ops_plan" ng-model="operationalPlan.financialYearId" class="form-control" id="inputYear"></select>
            </div>
        </div>

        <div class="row section bold">
            <label for="inputNumber" class="col-lg-4 control-label">Process/Tasks</label>
            <label for="inputNumber" class="col-lg-2 control-label">Start</label>
            <label for="inputNumber" class="col-lg-2 control-label">End</label>
            <label for="inputNumber" class="col-lg-1 control-label">Q1</label>
            <label for="inputNumber" class="col-lg-1 control-label">Q2</label>
            <label for="inputNumber" class="col-lg-1 control-label">Q3</label>
            <label for="inputNumber" class="col-lg-1 control-label">Q4</label>
        </div>

        <div class="form-group">
            <label for="inputNumber" class="col-lg-4 control-label">MISA Intervention Close-out</label>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.misaInterventionCloseOut_SEC_StartDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text127" placeholder="">
            </div>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.misaInterventionCloseOut_SEC_EndDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text128" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.misaInterventionCloseOut_SEC_TargetQ1" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text129" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.misaInterventionCloseOut_SEC_TargetQ2" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text130" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.misaInterventionCloseOut_SEC_TargetQ3" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text131" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.misaInterventionCloseOut_SEC_TargetQ4" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text132" placeholder="">
            </div>
        </div>
        <div class="row section bold">
            <label for="inputNumber" class="col-lg-4 control-label"></label>
            <label for="inputNumber" class="col-lg-4 control-label">Status-quo assessment</label>
        </div>
        <div class="row section">
            <label for="inputNumber" class="col-lg-4 control-label">Analyse O&M requirement</label>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.analyseOandMrequirement_OM_StartDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text37" placeholder="">
            </div>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.analyseOandMrequirement_OM_EndDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text38" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.analyseOandMrequirement_OM_TargetQ1" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text39" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.analyseOandMrequirement_OM_TargetQ2" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text40" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.analyseOandMrequirement_OM_TargetQ3" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text41" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.analyseOandMrequirement_OM_TargetQ4" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text42" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="inputNumber" class="col-lg-4 control-label">Analyse O&M Costs compared to budget</label>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.analyseOandMCostsComparedBudget_OM_StartDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text43" placeholder="">
            </div>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.analyseOandMCostsComparedBudget_OM_EndDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text44" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.analyseOandMCostsComparedBudget_OM_TargetQ1" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text45" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.analyseOandMCostsComparedBudget_OM_TargetQ2" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text46" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.analyseOandMCostsComparedBudget_OM_TargetQ3" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text47" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.analyseOandMCostsComparedBudget_OM_TargetQ4" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text48" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="inputNumber" class="col-lg-4 control-label">Determine required budget</label>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.determineRequiredBudget_OM_StartDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text133" placeholder="">
            </div>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.determineRequiredBudget_OM_EndDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text134" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.determineRequiredBudget_OM_TargetQ1" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text135" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.determineRequiredBudget_OM_TargetQ2" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text136" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.determineRequiredBudget_OM_TargetQ3" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text137" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.determineRequiredBudget_OM_TargetQ4" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text138" placeholder="">
            </div>
        </div>

        <div class="row section bold">
            <label for="inputNumber" class="col-lg-4 control-label"></label>
            <label for="inputNumber" class="col-lg-4 control-label">Develop or Review</label>
        </div>
        <div class="row section">
            <label for="inputNumber" class="col-lg-4 control-label">Appoint Consultants</label>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.appointConsultants_OM_StartDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text79" placeholder="">
            </div>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.appointConsultants_OM_EndDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text80" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.appointConsultants_OM_TargetQ1" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text81" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.appointConsultants_OM_TargetQ2" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text82" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.appointConsultants_OM_TargetQ3" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text83" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.appointConsultants_OM_TargetQ4" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text84" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="inputNumber" class="col-lg-4 control-label">Develop or review O&M Plan</label>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.developReviewOandMplan_OM_StartDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text85" placeholder="">
            </div>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.developReviewOandMplan_OM_EndDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text86" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.developReviewOandMplan_OM_TargetQ1" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text87" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.developReviewOandMplan_OM_TargetQ2" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text88" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.developReviewOandMplan_OM_TargetQ3" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text89" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.developReviewOandMplan_OM_TargetQ4" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text90" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="inputNumber" class="col-lg-4 control-label">Develop O&M Manual</label>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.developOandMmanual_OM_StartDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text49" placeholder="">
            </div>
            <div class="col-lg-2">
                <input ng-model="operationalPlan.developOandMmanual_OM_EndDate" ng-pattern="/^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$/" fieldtype="date" type="text" class="form-control date" id="Text50" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.developOandMmanual_OM_TargetQ1" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text51" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.developOandMmanual_OM_TargetQ2" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text52" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.developOandMmanual_OM_TargetQ3" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text53" placeholder="">
            </div>
            <div class="col-lg-1">
                <input ng-model="operationalPlan.developOandMmanual_OM_TargetQ4" ng-pattern="/^[0-9]*$/" fieldtype="numeric" type="text" class="form-control" id="Text54" placeholder="">
            </div>
        </div>

        <div class="form-actions">
            w
            <div class="container">
                <button ng-click="saveOperationalPlan()" formnovalidate class="btn btn-default pull-right" ng-disabled="busy">Save</button>
            </div>
        </div>

    </form>
</div>
