<div class="col-md-12 header">
    <h3>{{project.name}}</h3>
</div>

<div class="col-md-6 field-list">
    <div>
        <div>Project Number</div>
        <div>2377</div>
    </div>
    <div>
        <div>Short Description</div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
    <div>
        <div>MISA Project</div>
        <div>Yes</div>
    </div>
    <div>
        <div>Status</div>
        <div>Registered</div>
    </div>
    <div>
        <div>Implementing Agent</div>
        <div>Group 5 Coonstruction</div>
    </div>
    <div>
        <div>MISA Support Agent</div>
        <div>Joe Blogs</div>
    </div>
    <div>
        <div>MIG Component</div>
        <div>Basic Residentual Infrastructure</div>
    </div>
    <div>
        <div>Service Type</div>
        <div>New</div>
    </div>
    <div>
        <div>Anchor Project</div>
        <div>Yes</div>
    </div>
    <div>
        <div>Completion Certificate</div>
        <div>Yes</div>
    </div>
</div>

<div class="col-md-6">
    <ul class="summary">
        <li class="notes">
            <span class="glyphicon glyphicon-book"></span>
            <h4>Notes</h4>
            <a class="pull-right glyphicon glyphicon-book glyphicon-export" href="#/project/1aae7734-a554-4961-96f1-088c51b4bcf6/notes"></a>
            <div class="detail">
                <ol>
                    <li>
                        <div>May 2013</div>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </li>
                    <li>
                        <div>May 2013</div>
                        <div>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        </div>
                    </li>
                </ol>
            </div>
        </li>
        <li class="notes">
            <span class="glyphicon glyphicon-book"></span>
            <h4>Documents</h4>
        </li>
        <li class="notes">
            <span class="glyphicon glyphicon-book"></span>
            <h4>Issues</h4>
        </li>
        <li class="notes">
            <span class="glyphicon glyphicon-book"></span>
            <h4>Risks</h4>
        </li>
        <li class="notes">
            <span class="glyphicon glyphicon-book"></span>
            <h4>Site Visits</h4>
        </li>
        <li class="notes">
            <span class="glyphicon glyphicon-book"></span>
            <h4>Quality Management</h4>
        </li>
    </ul>
</div>


<!--
<div class="col-md-3">
    <h3>
        Issues
        <div class="pull-right actions">
            <a class="glyphicon glyphicon-plus" href="#/project/1aae7734-a554-4961-96f1-088c51b4bcf6/issue/create"></a>
        </div>
    </h3>
    <table class="table">
        <tr ng-repeat="issue in project.issues">
            <td>{{issue.description}}</td>
        </tr>
    </table>
    <h3>
        Risks
        <div class="pull-right actions">
            <a class="glyphicon glyphicon-plus" href="#/project/1aae7734-a554-4961-96f1-088c51b4bcf6/issue/create"></a>
        </div>
    </h3>
    <table class="table">
        <tr ng-repeat="issue in project.issues">
            <td>{{issue.description}}</td>
        </tr>
    </table>
</div>
<div class="col-md-3">
    <h3>
        Site Visit Schedule
        <div class="pull-right actions">
            <a class="glyphicon glyphicon-plus" href="#/project/1aae7734-a554-4961-96f1-088c51b4bcf6/issue/create"></a>
        </div>
    </h3>
    <table class="table">
        <tr ng-repeat="issue in project.issues">
            <td>{{issue.description}}</td>
        </tr>
    </table>
    <h3>
        Quality Management
        <div class="pull-right actions">
            <a class="glyphicon glyphicon-plus" href="#/project/1aae7734-a554-4961-96f1-088c51b4bcf6/issue/create"></a>
        </div>
    </h3>
    <table class="table">
        <tr ng-repeat="issue in project.issues">
            <td>{{issue.description}}</td>
        </tr>
    </table>
</div>
-->