/* ------------------------ */
/* LESS mixin for CSS arrow */
/* ------------------------ */
/* Usage
 * .arrow(size, color, direction, offset, border-size, border-color); 
 */
/* Where
 * Size is the with of the arrow
 * Color is the color of the arrow (plain color required)
 * Direction is the orientation of the arrow (top, right, bottom, left)
 * Offset is the position of the arrow on its axis (px / em)
 * Border-size is the width of the border if there is one (optional; default "0")
 * Border-color is the color of the border if there is one (optional; default "inherit"); 
 */
/* Extra
 * Drop-shadows can be used on the element to create a shadow on the arrow as well 
 */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.svg#icomoon') format('svg'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mipmis';
  src: url('../fonts/mipmis.eot');
  src: url('../fonts/mipmis.eot?#iefix') format('embedded-opentype'), url('../fonts/mipmis.svg#mipmis') format('svg'), url('../fonts/mipmis.woff') format('woff'), url('../fonts/mipmis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
input::-ms-clear {
  display: none;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dashboard:before {
  content: "\e185";
}
.icon-magnifying-glass:before {
  content: "\e600";
}
.icon-dashboard2:before {
  content: "\e601";
}
.icon-file:before {
  content: "\e602";
}
.icon-signup:before {
  content: "\e608";
}
.icon-calendar:before {
  content: "\e60a";
}
.icon-fire:before {
  content: "\e188";
}
.icon-settings:before {
  content: "\e140";
}
.icon-warning:before {
  content: "\e243";
}
.icon-pencil:before {
  content: "\e00b";
}
.icon-certificate:before {
  content: "\e073";
}
.icon-rulers:before {
  content: "\e2ed";
}
.icon-sun-fill:before {
  content: "\e60f";
}
.icon-users:before {
  content: "\e10b";
}
.icon-location:before {
  content: "\e610";
}
.icon-bars:before {
  content: "\e603";
}
.icon-settings2:before {
  content: "\e614";
}
.icon-arrow-right:before {
  content: "\e604";
}
.icon-arrow-down:before {
  content: "\e605";
}
.icon-arrow-down2:before {
  content: "\e60b";
}
.icon-arrow-up:before {
  content: "\e60c";
}
.icon-chart:before {
  content: "\e607";
}
.icon-cabinet:before {
  content: "\e606";
}
.icon-medal:before {
  content: "\e611";
}
.icon-money:before {
  content: "\e609";
}
.icon-eye-open:before {
  content: "\e105";
}
.icon-angle-left:before {
  content: "\e60d";
}
.icon-angle-right:before {
  content: "\e60e";
}
.icon-chevron-left:before {
  content: "\e612";
}
.icon-folder:before {
  content: "\e613";
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #1A1A1A;
  /*
    form.search {
        input[type=text] {
            background-color: #515151;

            &:focus {
                background: #ededf0;

                & ~ button {
                    background-color: #6dc2e9;
                    color: #000;
                }
            }
        }

        button[type=submit] {

        }
    }*/
}
header img {
  margin-top: 10px;
  height: 60px;
}
header ol a {
  margin-right: 18px;
  color: #d2d2d2 !important;
  font-family: WOL_SB, 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 15px;
}
header ol a:hover {
  text-decoration: none;
  color: #fff !important;
}
header ol a.current {
  color: #428bca !important;
}
header > .container.main {
  position: relative;
  text-transform: uppercase;
}
header > .breadcrumbs {
  font-size: 16px;
  background: #3f3f3f;
  padding-top: 5px;
  color: #ccc;
  height: 33px;
  font-family: WOL_SB, 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 22px;
}
header > .breadcrumbs > .container {
  position: relative;
}
header > .breadcrumbs nav {
  list-style: none;
}
header > .breadcrumbs nav li {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}
header > .breadcrumbs nav li a {
  color: #d2d2d2;
  vertical-align: top;
}
header > .breadcrumbs nav li a:hover {
  text-decoration: none;
  color: #fff;
}
header > .breadcrumbs nav li:not(:last-child):after {
  position: relative;
  top: -1px;
  margin-left: 5px;
  font-weight: 100;
  font-size: 16px;
  font-family: 'icomoon';
  content: "\e60e";
}
.mip-breadcrumb {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
.mip-breadcrumb a {
  color: #eee;
}
body > div.container {
  padding-top: 140px;
  padding-bottom: 64px;
}
.login div.validation-summary-errors {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  padding: 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#e7c3c3));
  background-image: -webkit-linear-gradient(top, #f2dede, 0%, #e7c3c3, 100%);
  background-image: -moz-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  border-color: #dca7a7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
}
.login div.validation-summary-errors ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.login form {
  margin-top: 50px;
}
.actions {
  font-size: 0.75em;
}
.actions > span {
  margin-left: 5px;
}
.actions > span.active {
  color: #428bca;
}
.header {
  border-bottom: solid 1px #ddd;
}
.breadcrumb {
  margin: 0;
  padding: 0;
  padding-top: 15px;
}
form {
  padding-top: 15px;
}
h3 {
  margin-bottom: 5px;
}
.quality-check .project-documents {
  top: -15px;
}
.project-documents {
  display: inline;
  position: relative;
  font-size: 30px;
}
.project-documents .badge {
  position: absolute;
  right: -40px;
  background-color: #666;
}
.project-documents i {
  position: absolute;
  left: 0;
}
.field-list > div {
  margin-top: 10px;
}
.field-list > div > div:first-child {
  vertical-align: top;
  display: inline-block;
  width: 33%;
  font-weight: 600;
  color: #666;
}
.field-list > div > div:nth-child(2) {
  display: inline-block;
  width: 66%;
}
.field-list-9 > div {
  margin-top: 10px;
}
.field-list-9 > div > div:first-child {
  vertical-align: top;
  display: inline-block;
  width: 40%;
  font-weight: 200;
  color: #666;
}
.field-list-9 > div > div:nth-child(2) {
  display: inline-block;
  width: 5%;
}
.field-list-9 > div > div:nth-child(3) {
  display: inline-block;
  width: 8%;
}
.field-list-9 > div > div:nth-child(4) {
  display: inline-block;
  width: 5%;
}
.field-list-9 > div > div:nth-child(5) {
  display: inline-block;
  width: 8%;
}
.field-list-9 > div > div:nth-child(6) {
  display: inline-block;
  width: 5%;
}
.field-list-9 > div > div:nth-child(7) {
  display: inline-block;
  width: 8%;
}
.field-list-9 > div > div:nth-child(8) {
  display: inline-block;
  width: 5%;
}
.field-list-9 > div > div:nth-child(9) {
  display: inline-block;
  width: 8%;
}
.captureform h4 {
  margin-left: 10px;
  font-size: 20px;
  display: block;
  border-bottom: solid 1px #ccc;
}
ul[mipmis-accordion] {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}
ul[mipmis-accordion] h4 {
  margin: 0;
  margin-left: 10px;
  font-size: 20px;
  display: block;
}
ul[mipmis-accordion] h4:after {
  font-family: "icomoon";
  font-size: 20px;
  content: "\e604";
  float: right;
}
ul[mipmis-accordion] > li {
  cursor: pointer;
  background-color: #ccc;
  padding: 10px 10px;
  height: 40px;
  overflow: hidden;
}
ul[mipmis-accordion] > li.expanded h4:after {
  content: "\e605";
}
ul[mipmis-accordion] > li h4:before {
  font-family: "icomoon";
  font-size: 20px;
  margin-right: 10px;
}
ul[mipmis-accordion] > li.risks h4:before {
  content: "\e243";
}
ul[mipmis-accordion] > li.issues h4:before {
  content: "\e188";
}
ul[mipmis-accordion] > li.site-visits h4:before {
  content: "\e60a";
}
ul[mipmis-accordion] > li.financials h4:before {
  content: "\e609";
}
ul[mipmis-accordion] > li.overview h4:before {
  font-family: 'Glyphicons Halflings';
  font-size: 20px;
  margin-right: 10px;
  content: "\e105";
}
ul[mipmis-accordion] > li.indicators h4:before {
  content: "\e2ed";
}
ul[mipmis-accordion] > li.activities h4:before {
  content: "\e140";
}
ul[mipmis-accordion] > li.map h4:before {
  content: "\e610";
}
ul[mipmis-accordion] > li.auditevidence h4:before {
  content: "\e606";
}
ul[mipmis-accordion] > li.operationalprojects h4:before {
  content: "\e611";
}
ul[mipmis-accordion] > li:not(:first-child) {
  margin-top: 10px;
}
ul[mipmis-accordion] > li:before {
  font-size: 24px;
}
ul[mipmis-accordion] > li .detail {
  margin-top: 10px;
  border-top: 1px solid #aaa;
}
ul[mipmis-accordion] > li.expanded {
  height: auto;
}
ul[mipmis-accordion] > li > *:not(h4) {
  margin-top: 5px;
  border-top: 1px solid #999;
}
ul[mipmis-accordion] > li ol {
  list-style: none;
}
ul[mipmis-accordion] > li ol > li {
  margin-top: 10px;
}
ul[mipmis-accordion] > li ol > li div:first-child {
  font-weight: bold;
}
th {
  padding-left: 5px;
  font-weight: bold;
}
td {
  vertical-align: top;
  padding-left: 5px;
}
form .row {
  margin-bottom: 15px;
}
.notes td {
  padding-bottom: 10px;
}
.form-horizontal .control-label {
  text-align: left;
}
.required-message {
  content: "This is a required field.";
  width: 180px;
  height: 30px;
  position: absolute;
  color: red;
  text-align: center;
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
  z-index: 9;
  padding: 4px;
  top: -7px;
  left: 30px;
}
.validation-message {
  content: attr(validation-message);
  width: 250px;
  position: absolute;
  color: red;
  text-align: center;
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
  z-index: 9;
  padding: 4px;
  top: -7px;
  left: 30px;
}
input ~ .error {
  display: none;
}
input.ng-invalid-pattern ~ .error,
input.ng-invalid-number ~ .error,
input.ng-invalid-min ~ .error,
input.ng-invalid-max ~ .error {
  display: block;
  position: relative;
}
input.ng-invalid-pattern ~ .error:before,
input.ng-invalid-number ~ .error:before,
input.ng-invalid-min ~ .error:before,
input.ng-invalid-max ~ .error:before {
  position: absolute;
  content: "";
  top: -15px;
  left: 70px;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid;
  border-bottom-color: #ff0000;
  width: 0;
  height: 0;
  background: white;
  z-index: 9;
}
input.ng-invalid-pattern ~ .error:after,
input.ng-invalid-number ~ .error:after,
input.ng-invalid-min ~ .error:after,
input.ng-invalid-max ~ .error:after {
  content: attr(validation-message);
  width: 250px;
  position: absolute;
  color: red;
  text-align: center;
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
  z-index: 9;
  padding: 4px;
  top: -7px;
  left: 30px;
}
input.ng-invalid-required.blurred ~ .error {
  display: block;
  position: relative;
}
input.ng-invalid-required.blurred ~ .error:before {
  position: absolute;
  content: "";
  top: -15px;
  left: 70px;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid;
  border-bottom-color: #ff0000;
  width: 0;
  height: 0;
  background: white;
  z-index: 9;
}
input.ng-invalid-required.blurred ~ .error:after {
  content: "This is a required field.";
  width: 180px;
  height: 30px;
  position: absolute;
  color: red;
  text-align: center;
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
  z-index: 9;
  padding: 4px;
  top: -7px;
  left: 30px;
}
select.ng-invalid-required.blurred ~ .error {
  display: block;
  position: relative;
}
select.ng-invalid-required.blurred ~ .error:before {
  position: absolute;
  content: "";
  top: -15px;
  left: 70px;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid;
  border-bottom-color: #ff0000;
  width: 0;
  height: 0;
  background: white;
  z-index: 9;
}
select.ng-invalid-required.blurred ~ .error:after {
  content: "This is a required field.";
  width: 180px;
  height: 30px;
  position: absolute;
  color: red;
  text-align: center;
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
  z-index: 9;
  padding: 4px;
  top: -7px;
  left: 30px;
}
form.submitted input.ng-invalid-required ~ .error {
  display: block;
  position: relative;
}
form.submitted input.ng-invalid-required ~ .error:before {
  position: absolute;
  content: "";
  top: -15px;
  left: 70px;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid;
  border-bottom-color: #ff0000;
  width: 0;
  height: 0;
  background: white;
  z-index: 9;
}
form.submitted input.ng-invalid-required ~ .error:after {
  content: "This is a required field.";
  width: 180px;
  height: 30px;
  position: absolute;
  color: red;
  text-align: center;
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
  z-index: 9;
  padding: 4px;
  top: -7px;
  left: 30px;
}
form.submitted select.ng-invalid-required ~ .error {
  display: block;
  position: relative;
}
form.submitted select.ng-invalid-required ~ .error:before {
  position: absolute;
  content: "";
  top: -15px;
  left: 70px;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid;
  border-bottom-color: #ff0000;
  width: 0;
  height: 0;
  background: white;
  z-index: 9;
}
form.submitted select.ng-invalid-required ~ .error:after {
  content: "This is a required field.";
  width: 180px;
  height: 30px;
  position: absolute;
  color: red;
  text-align: center;
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
  z-index: 9;
  padding: 4px;
  top: -7px;
  left: 30px;
}
.header {
  position: relative;
}
.widget {
  background-color: #eee;
  margin: 10px 0 10px 10px;
  padding: 10px;
}
.widget ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.widget h4 {
  margin-top: 0;
}
.widget h2:before {
  font-family: "icomoon";
  font-size: 20px;
  margin-right: 10px;
}
.widget .people:before {
  content: "\e10b";
}
.widget .overview:before {
  font-family: 'Glyphicons Halflings';
  font-size: 20px;
  margin-right: 10px;
  content: "\e105";
}
.widget .indicators:before {
  content: "\e2ed";
}
.widget .miscellaneous:before {
  content: "\e614";
}
.widget .delete:before {
  font-family: 'Glyphicons Halflings';
  font-size: 20px;
  margin-right: 10px;
  content: "\e020";
}
.widget a {
  display: inline-block;
  line-height: 24px;
  vertical-align: top;
}
.widget li {
  line-height: 20px;
}
.widget li:before {
  font-family: "icomoon";
  font-size: 20px;
  color: #666;
  margin-right: 10px;
}
.widget li.dashboard:before {
  content: "\e607";
}
.widget li.report:before {
  content: "\e602";
}
col.search {
  width: 250px;
}
form.search {
  padding: 0;
  position: relative;
}
form.search input[type=text] {
  height: 23px;
  background-color: #666;
  color: #fff;
  padding-left: 5px;
  padding-right: 20px;
  border: none;
  height: 24px;
}
form.search input[type=text]:focus {
  outline: none;
}
form.search button[type=submit] {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 100%;
  border: none;
  background: none;
  font-family: mipmis;
  font-size: 16px;
  color: #d2d2d2;
}
form.search button[type=submit]:before {
  content: "\e601";
}
form.search button[type=submit]:focus,
form.search button[type=submit]:active {
  outline: none;
}
.header form.search input[type=text] {
  border: 1px solid #ccc;
}
.header form.search button[type=submit] {
  color: #2a6496;
}
button[toggle] {
  border: none;
  background: none;
  color: #428bca;
}
button[toggle]:hover {
  color: #2a6496;
}
button[toggle]:focus {
  outline: none;
}
.filters {
  border-bottom: 1px solid #ccc;
}
.condition-label {
  width: 100px !important;
  text-align: center;
}
.condition1 {
  background-color: green !important;
  color: white;
}
.condition2 {
  background-color: yellow !important;
  color: black;
}
.condition3 {
  background-color: orange !important;
  color: white;
}
.condition4 {
  background-color: red !important;
  color: white;
}
.condition5 {
  background-color: purple !important;
  color: white;
}
.exposure.Low {
  background-color: green;
  color: white;
}
.exposure.Moderate {
  background-color: yellow;
  color: black;
}
.exposure.Significant {
  background-color: red;
  color: white;
}
.exposure.High {
  background-color: purple;
  color: white;
}
input[type=radio] {
  margin-top: 10px;
}
input[type=radio] ~ label {
  margin: 10px;
}
.overview h4 {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.overview .bold {
  font-weight: bold;
}
.overview .risks li div {
  display: inline-block;
  width: 65%;
}
.overview .risks li .exposure {
  text-align: center;
  float: right;
  width: 30%;
}
.infrastructureList col:nth-child(1) {
  width: 25%;
}
.infrastructureList col:nth-child(2) {
  width: 20%;
}
.infrastructureList col:nth-child(3) {
  width: 25%;
}
.infrastructureList col:nth-child(4) {
  width: 10%;
}
.infrastructureList col:nth-child(5) {
  width: 10%;
}
.infrastructureList col:nth-child(6) {
  width: 10%;
}
.edit-grid {
  border: none;
}
.select2-choices {
  min-height: 34px;
  border: 1px solid #cccccc !important;
  border-radius: 4px;
}
.mipmis-checkbox {
  padding-left: 35px !important;
}
.financials {
  table-layout: fixed;
  border-collapse: collapse;
}
.financials td {
  padding: 3px !important;
  border-top: none !important;
}
.financials tbody {
  border-top-width: 1px;
}
.financials .expand-collapse {
  width: 25px;
  vertical-align: top;
}
.financials .expand-collapse i {
  display: block;
  margin-top: 7px;
}
.financials .finyear {
  width: 75px;
  vertical-align: top;
}
.financials td.finyear {
  width: 75px;
  vertical-align: top;
  padding-top: 7px;
}
.financials .period {
  width: 75px;
}
.financials .sourcered {
  text-align: right;
  color: red;
}
.financials .source {
  text-align: right;
}
.financials input {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
}
.financials .collapsed-financials td {
  margin-right: 6px;
}
.financials th {
  border-bottom: 1px solid #699;
}
ul[placeholder="toolbar"] {
  position: absolute;
  top: 0;
  right: 15px;
  margin: 0;
  list-style: none;
  color: #d2d2d2;
  height: 24px;
}
ul[placeholder="toolbar"] li {
  display: inline-block;
  height: 100%;
  /*
        &:not(:first-child):before
        {
            content: "";
        }*/
}
ul[placeholder="toolbar"] li a,
ul[placeholder="toolbar"] li button {
  margin: 0 0 0 5px;
  padding: 0;
  color: #d2d2d2;
  font-size: 16px;
}
ul[placeholder="toolbar"] li a:hover,
ul[placeholder="toolbar"] li button:hover {
  text-decoration: none;
  color: #fff;
}
.form-actions {
  position: fixed;
  bottom: 0;
  height: 48px;
  left: 0;
  right: 0;
  background-color: #d2d2d2;
}
.form-actions button {
  border: none;
  background-color: #0072c6;
  margin-top: 8px;
}
.form-actions button:hover {
  background-color: #008ff9;
}
tr:hover .list-item-action * {
  display: inline;
}
td.list-item-action {
  width: 100px;
  padding: 0 !important;
  text-align: right;
}
td.list-item-action * {
  display: none;
}
td.list-item-action a {
  line-height: 36px;
  margin-left: 3px;
  font-size: 20px;
}
td.list-item-action a:hover {
  text-decoration: none;
}
td.list-item-action .icon-signup {
  font-size: 22px;
}
td.list-item-action .icon-calendar {
  font-size: 22px;
}
td.list-item-action .icon-money {
  font-size: 22px;
}
.quality-check {
  padding: 7px 0;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}
.quality-check label.child {
  padding-left: 48px;
  font-weight: normal;
  display: inline-block;
}
.quality-check input {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
}
.quality-check input:focus {
  outline: none;
  border: none;
}
.quality-check .document-management {
  display: inline-block;
}
.paging {
  border-top: 1px solid #ccc;
}
.paging ol {
  float: right;
  list-style: none;
}
.paging ol li {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 0px 5px;
}
.paging ol li.current {
  background-color: #444;
  color: #fff;
}
.table {
  margin-bottom: 0;
}
ul[treeview] {
  overflow-y: auto;
  height: 300px;
  list-style: none;
}
ul[treeview] ul {
  list-style: none;
  padding-left: 0px !important;
}
ul[treeview] li.leaf button.expanded {
  display: none;
}
ul[treeview] li div {
  display: inline-block;
}
ul[treeview] li button {
  vertical-align: top;
}
ul[treeview] li button.state {
  position: relative;
  top: 4px;
  margin-right: 8px;
  padding: 0;
  background: none;
  line-height: 12px;
  font-size: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid #999;
}
ul[treeview] li button.all:before {
  position: relative;
  top: -2px;
  font-size: 8px;
  font-family: 'Glyphicons Halflings';
  color: #666;
  content: "\e013";
}
ul[treeview] li button.none:before {
  content: '';
}
ul[treeview] li button.some:before {
  position: relative;
  top: -2px;
  left: 0px;
  font-size: 8px;
  font-family: 'Glyphicons Halflings';
  color: #666;
  content: "\e074";
}
ul[treeview] li.collapsed button:not(.state):before {
  font-family: 'icomoon';
  content: "\e604";
}
ul[treeview] li.collapsed ul {
  display: none;
}
ul[treeview] li button:before {
  font-family: 'icomoon';
  content: "\e605";
}
th[ng-click] {
  cursor: pointer;
}
th.sorted:after {
  margin-left: 5px;
  font-family: 'icomoon';
  content: "\e60b";
}
th.sorted.desc:after {
  margin-left: 5px;
  font-family: 'icomoon';
  content: "\e60c";
}
button.remove-filter {
  border: none;
  background: none;
  position: absolute;
  right: 30px;
  top: 5px;
}
button.remove-filter.search {
  top: 2px;
}
[ui-map] {
  margin: 0 -8px -8px -8px;
}
[calendar] {
  border-top: 1px solid #ccc;
}
[calendar] table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
[calendar] table th {
  text-align: center;
}
[calendar] table th.back {
  text-align: left;
  padding-left: 0;
}
[calendar] table th.back button {
  color: #666;
  padding-left: 2px;
  font-size: 18px;
  text-align: left;
  border: none;
  background: none;
}
[calendar] table th.back button:after {
  font-family: 'icomoon';
  content: "\e60d";
}
[calendar] table th.forward {
  text-align: right;
  padding-right: 0;
}
[calendar] table th.forward button {
  color: #666;
  padding-right: 2px;
  font-size: 18px;
  text-align: right;
  border: none;
  background: none;
}
[calendar] table th.forward button:before {
  font-family: 'icomoon';
  content: "\e60e";
}
[calendar] table tr {
  height: 30px;
}
[calendar] table td {
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}
[calendar] table td.appointment {
  cursor: pointer;
  background-color: #336699;
  color: #fff;
}
[calendar] table td.appointment.overdue {
  background-color: red;
}
[calendar] table td.today {
  font-weight: bold;
}
.due {
  color: red;
}
.due a {
  color: red;
}
button[class^="icon-"] {
  background: none;
  border: none;
}
button[class^="icon-"]:active {
  outline: none;
}
.user-actions {
  right: 18px;
  position: absolute;
  top: 72px;
  text-transform: none;
}
.user-actions .user-menu {
  font-size: 18px;
  color: #D2D2D3;
}
.user-actions .user-options {
  position: absolute;
  background-color: #eee;
  width: 500px;
  height: 250px;
  right: -16px;
  top: 38px;
  z-index: 99999;
  border: 1px solid #ccc;
  padding: 10px;
}
.user-actions .user-options:after,
.user-actions .user-options:before {
  bottom: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.user-actions .user-options:after {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #eee;
  border-width: 15px;
  margin-left: -15px;
}
.user-actions .user-options:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #ccc;
  border-width: 16px;
  margin-left: -16px;
}
.user-actions .user-options .photo {
  float: left;
  font-size: 48px;
  background-color: #369;
  margin-right: 10px;
  padding: 5px;
}
.user-actions .user-options a {
  display: block;
  width: 100px;
  margin-top: 40px;
  float: right;
}
.field-information .user-menu {
  top: 6px;
  font-size: 18px;
  color: #999;
}
.field-information .user-options {
  position: relative;
  left: 33%;
  background-color: green;
  top: 38px;
  z-index: 99999;
  border: 1px solid #ccc;
  padding: 10px;
}
.field-information .user-options:after,
.field-information .user-options:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: relative;
  pointer-events: none;
}
.field-information .user-options:after {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: yellow;
  border-width: 15px;
  margin-left: -15px;
}
.field-information .user-options:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: red;
  border-width: 16px;
  margin-left: -16px;
}
.field-information .user-options .photo {
  float: left;
  font-size: 48px;
  background-color: #369;
  margin-right: 10px;
  padding: 5px;
}
.modal-header {
  border-bottom: none;
}
.modal-body {
  padding: 0;
}
.field-information {
  position: relative;
  float: left;
  left: -10px;
  cursor: pointer;
}
[fieldinfo] {
  position: absolute;
  left: 0;
}
[fieldinfo] [ng-include] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 500px;
  background-color: #fcfcfc;
  position: absolute;
  z-index: 100;
  padding: 10px;
  border-radius: 5px;
  top: -50%;
  border: 1px solid #999;
  font-size: 12px;
  left: 20px;
  color: #444;
  line-height: 16px;
}
[fieldinfo] [ng-include] table {
  border-collapse: collapse;
  margin-bottom: 10px;
}
[fieldinfo] [ng-include] table th {
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ccc;
}
[fieldinfo] [ng-include] table td {
  padding: 5px;
  border: 1px solid #ccc;
}
button.coordinate {
  background: none;
  border: none;
  position: absolute;
  right: 22px;
  top: 8px;
  width: 20px;
  height: 20px;
}
button.coordinate:active,
button.coordinate:focus {
  outline: none;
}
.coordinate-popup {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 102%;
  height: 80px;
  border: 1px solid #ccc;
  background: #fafafa;
  z-index: 999;
  display: none;
  padding: 15px;
}
.coordinate-popup.open {
  display: block;
}
.coordinate-popup .coordinate-container {
  display: inline-table;
}
.coordinate-popup input {
  display: table-cell;
  width: 30px;
  margin: 0;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}
.coordinate-popup input.deg {
  border-radius: 0;
}
.coordinate-popup input.min {
  border-radius: 0;
}
.coordinate-popup input.sec {
  border-radius: 0;
}
.coordinate-popup div.deg,
.coordinate-popup div.min,
.coordinate-popup div.sec,
.coordinate-popup div.dir {
  display: table-cell;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
}
.coordinate-popup div.dir {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.coordinate-popup div.deg {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.coordinate-popup div.min {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.coordinate-popup div.sec {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.coordinate-popup button.close {
  opacity: 1;
  color: #666;
  position: absolute;
  font-size: 14px;
  right: 10px;
  top: 15px;
}
ol.fault-actions {
  list-style: none;
  padding: 0;
}
ol.fault-actions li {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  background: #eee;
  position: relative;
}
ol.fault-actions li div {
  color: #aaa;
}
ol.fault-actions li div:last-child {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.glyphicon-flag.low {
  color: green;
}
.glyphicon-flag.medium {
  color: orange;
}
.glyphicon-flag.high {
  color: red;
}
.row.section {
  margin-top: -5px;
  padding-top: 5px;
  border-top: 1px solid #ddd;
}
[map] {
  margin: 1px;
  height: 400px;
}
.map .modal-footer {
  margin-top: 0 !important;
}
centre {
  text-align: center;
}
