<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="ASPCRUDConnectionString" connectionString="Data Source=DESKTOP-I2KFFFU\SQLEXPRESS;Initial Catalog=MIPMIS_TRAIN;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
        <compilation debug="true" />
        <authentication mode="Forms" />
        <identity impersonate="false" />
	<customErrors mode="Off" />
 <httpRuntime requestPathInvalidCharacters="&lt;,>,*,%,&amp;,:,\,?" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>