@model MIPMIS.Controllers.AccountController.ChangePassword
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <link rel="stylesheet" href="~/Content/bootstrap.css" />
        <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
        <link rel="stylesheet" href="~/Content/app.css" />
    </head>
<body class="login">
    <div class="container">
        <div class="col-md-12">
            <div style="color: #eee; background-color: #3f3f3f; font-size: 26px; float: left; width: 66%; font-weight: 100;">
                <div style="margin: 20px;">
                    <img src="~/img/logo.png" style="width: 200px; float: left" />
                    <div style="margin-left: 220px;">Municipal Infrastructure Performance Management Information System</div>
                </div>
                <img src="~/img/pic21.jpg" style="width: 100%">
            </div>
            <div style="background-color: #eee; margin-left: 66%; padding: 10px 20px; height: 445px;">
                @using (Html.BeginForm("Password", "Account", FormMethod.Post, new { role = "form", autocomplete = "off" }))
                {
                    <div>
                        Your password has expired. Please enter a new password.
                        <br />.
                    </div>
                    
                    @Html.HiddenFor(x => x.UserName);
                    @Html.HiddenFor(x => x.Password);
                    
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label for="username">Password</label>
                        <input type="password" class="form-control" id="userName" placeholder="New Password" name="NewPassword">
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" class="form-control" id="Text1" placeholder="Confirm Password" name="NewPasswordConfirm">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                }
                <a href="/faultreport">Report a Fault</a>
            </div>
        </div>
    </div>
</body>

</html>

