@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <title>Report a Fault</title>
    <link rel="stylesheet" href="/Content/css/faults.css" />
</head>
<body>
    <h5>Report an Incident</h5>
    <p>Thank you for reporting an incident. We will contact you shortly to confirm the details.</p>
</body>
</html>
